table.tablesorter .header {
	background-image: url(/img/img_tablesorter/green/bg.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortUp {
	background-image: url(/img/img_tablesorter/green/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(/img/img_tablesorter/green/desc.png);
	background-repeat: no-repeat;
}
